{% extends 'base.html.twig' %}

{% block title %}Dishes{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="text-center m-5 p-5">Details</h1>

                <div class="item">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                          <img src="{{ asset("uploads/" ~ dish.picture ) }}" width="600px" alt="{{ dish.name }}">
                        </div>
                        <div class="flex-grow-1 ms-3">
                         <h5>{{ dish.name }}</h5>
                         <p>{{ dish.description }}</p>
                        
                         {% if status.name == "none" %}
                         <p></p>
                         {% else %}
                         <p>{{ status.name }}</p>  
                         {% endif %} 

                         <a href="/" class="btn btn-success">Back to the main page</a>
                        </div>
                      </div>
                </div>

    </div>
   
{% endblock %}
