{% extends 'base.html.twig' %}

{% block title %}Dishes{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center m-5 p-5">All our dishes</h1>

        <div class="row row-cols-3">
            {% for dish in dishes %}
                <div class="item">
                    <div class="card m-3" style="width: 18rem;">
                        {# <img src="{{ dish.image }}" class="card-img-top" alt="{{ dish.name }}"> #}
                        <div class="card-body text-center">
                        <h5 class="card-title">{{ dish.name }}</h5>
                        <p class="card-text">{{ dish.price }} &#8364;</p>
                        <a href="/details/{{ dish.id }}" class="btn btn-primary">Details</a>
                        <a href="#" class="btn btn-warning">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
   
{% endblock %}
